*{
    margin: 0px;
padding: 0px;
}
.li{
    text-decoration: none;
}
.top{
    justify-content: space-between;
    display: flex;
    padding: 10px;
   
    text-decoration: none;
    background-color: #4A6DE5;
    color: aliceblue;
}
.heads{
    text-decoration: none;
    color: aliceblue;
}
.convenience-section{
    justify-content: space-between;
    display: flex;
    margin: 30px;
}
.btns{
    text-decoration: none;
    display: inline-flex;
    flex-direction: column;
  color: black;
  
   gap: 5px;
   
}
.icons{
    
   height: 20px;
   width:20px; 
}
.shop{
    color: #4A6DE5;
}
.easy{
    color: #FF6B6B;
}
.list{
 justify-content: space-between;
display: inline-flex;
 gap: 50px;
 list-style: none;
 padding: 20px;
 border-radius: 20px;
}
.navs{
    text-decoration: none;
    color: #333333;
}
.input{
    width: 600px;
    height: 46.66999816894531px;
    border-radius: 50px;
    padding: 16px;
    display: flexbox;
  border: 1px;
  border-color: #E0E0E0;
}
.search-container{
    display: flex;
    align-items: center;
  justify-content: flex-end;
  

}
.subs-button{
   position: absolute;
margin-right: 10px;
  padding: 10px;
  width: 53.33000183105469px;
  height: 32px;
  border-radius: 30px;
  background-color: #4A6DE5;
}
.image{
    width: 100%;
    
  
   color: #00000099;
   
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sale{
    position: absolute;
    text-align: center;
    color: #FFFFFF;
   
}
.shop-now{
    text-decoration: none;
   height: 49.59000015258789px;
    background-color: #FF6B6B;
    width: 135.5500030517578px;
    padding: 20px;
    border-radius: 30px;
    color: aliceblue;
}
.top-icons{
    display: flex;
    gap: 30px;
}
